.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:hover {
    text-decoration: none
}

a:focus {
    outline: 0 solid;
    text-decoration: none
}

img {
    max-width: 100%;
    height: auto;
}

input:focus,
button:focus,
textarea:focus,
a:focus {
    outline: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

p:last-child {
    margin-bottom: 0
}

.section-padding {
    padding: 50px 0;
}

.section-bg-1 {
    position: relative;
}

.section-bg-1::after {
    background-image: url(/assets/bg-1.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 47%;
    height: 100%;
}

h2.section-title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 35px;
    color: #333;
}

.section-title span {
    color: #18B1FF;
}

body {
    color: #8F8F8F;
    line-height: 1.7;
    font-size: 15px;
}

.styled-faq .card-header {
    border: none;
    background-color: #fff;
}

.styled-faq .accordion .card:first-of-type {
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.styled-faq .accordion .card:not(:first-of-type):not(:last-of-type) {
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0;
}

.styled-faq .card {
    margin-bottom: 15px;
}

.styled-faq .card-header {
    padding: 0;
}

.styled-faq .accordion .card a {
    display: block;
    padding: 20px;
}

.styled-faq .accordion .card a i {
    float: right;
    font-size: 20px;
    line-height: 25px;
    display: none;
}

.styled-faq .accordion .card h4 a[aria-expanded=true] i.fas.fa-angle-up {
    display: block;
}

.styled-faq .accordion .card h4 a[aria-expanded=false] i.fas.fa-angle-down {
    display: block;
}

.styled-faq {
    min-height: 420px;
}

.styled-faq h4 {
    font-weight: 500;
    color: #333;
}